# Initial Report Files
Rapoarte/Raport Initial/graphics/ExempluPlasa.png
Rapoarte/Raport Initial/graphics/ExempluTriangulatieCuAproximari.png
Rapoarte/Raport Initial/graphics/ExempluTriangulatieNaiva.png
Rapoarte/Raport Initial/graphics/logo_AC.png
Rapoarte/Raport Initial/RI_E6.synctex.gz
Rapoarte/Raport Initial/RI_E6.tex
